* {

    margin: 0;
    padding: 0;
}
.contener {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: rgb(230, 212, 201);
    z-index: 3;
    position: fixed; 
    right: 0;
    left: 0;
}


@media (min-width: 768px) {
    .contener {
        width: 750px;
    }



}


@media (min-width: 992px) {
    .contener {
        width: 970px;
    }




}

@media (min-width: 1200px) {
    .contener {
        width: 1170px;
    }


}

.header .contener img {
    display: flex;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(255, 0, 0); */
    width: 100%;
    /* margin-left: 5%; */

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    color: #000000;

}

span {
    display: none;
    width: 30px;
    margin-bottom: 5px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin-right: 30px;


}

@media (max-width: 1050px) {
    span {
        display: flex;
    }

    nav ul {
        display: none;
        
    }

    li {
        margin-top: 20px;
        transition: 0.3s;
    }

    li:hover {
        padding-left: 20px;
    }
    .ss {
        display: block;
        
    }
    
}

.section-1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    background-image: url(../img/vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette.png);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: rgb(255, 0, 0);
   font-family:Verdana,  Tahoma, sans-serif;
   padding: 15px;
   color: #ffff;

}
.big{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 30px;
    background-color: rgba(178, 189, 203, 0.256);
}
h3{
    font-size: 1.6em;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: solid 2px red;
    padding: 8px;
}
p{
    font-size: 1.3em;
    font-weight: 900;
}
.big img{
    padding-right: 50px;
   
}
.pass{
    margin-bottom: 30px;
}
footer p {
    display: grid;
   margin: 30px;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
   border-bottom: solid 2px red;
   padding-bottom: 10px;
}

a{
    text-decoration: none;
    font-weight: 900;
    color: black;
    transition: 0.6s ease;
}
a:hover{
    font-size:x-large;
   
}
.section-4 p {
    display: grid;
   margin: 30px;
   justify-content: center;
   align-items: center;
   margin-bottom: 40px;
   border-bottom: solid 2px red;
   padding-bottom: 10px;
   font-size: 30px;
   font-weight: 100;
}
